{{ define "main" }}
  <div class="post">
    <h1 class="post-title">404 — {{ $.Site.Params.missingContentMessage | default "Page not found..." }}</h1>

    <div class="post-content">
      {{ $lang := .Lang }}
      {{ if eq $lang "fr" }}
        <a href="{{ "/Portfolio/fr/" | absURL }}">{{ $.Site.Params.missingBackButtonLabel | default "Back to home page" }}&nbsp;→</a>
      {{ else }}
        <a href="{{ "/Portfolio/" | absURL }}">{{ $.Site.Params.missingBackButtonLabel | default "Back to home page" }}&nbsp;→</a>
      {{ end }}
    </div>
  </div>
{{ end }}
